Package: com.brycedev.simmerdown
Name: SimmerDown
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Adds a post-credit gif to your power down sequence.
Maintainer: Bryce Jackson
Author: Bryce Jackson
Section: Tweaks
