Package: com.brycedev.simmerdown
Name: SimmerDown
Depends: mobilesubstrate, firmware (>= 9.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Adds a television, post-credit gif to your power down sequence.
Maintainer: Bryce Jackson
Author: Bryce Jackson
Section: Tweaks
